/*body es para fondo (lo general del archivo)*/
body{
    margin: 0;/*margenes en 0*/
    padding: 0;   /*padding es un atributo dentro de los bordes definidos*/
    font-family:Arial, Helvetica, sans-serif;/*tipo de letra*/
    /*color lo creo difuminando en dos colores */
    background: linear-gradient(150deg,  rgb(4, 104, 255), #99caf3 ); 
    /*esto para adaptar el color que quede justo*/
    height: 100vh;
}

/*creo la clase formulario*/
.formulario{
    position: absolute;/*posicion*/
    top: 50%; /*cuanto se va a desplazar */
    left: 50%; /*desplazara la caja a la derecha*/
    transform: translate(-50%, -50%); /*posicion de la caja en la pantalla*/
    width: 400px; /*tamaño */
    background: white;/*color*/
    border-radius: 40px; /*que tan redondos quiero los bordes*/

}

/*todo lo que este en la clase formulario etiqueta h1*/
.formulario h1{
    text-align: center;/*lo pongo en el centro*/     
}

/*todo lo que este en la clase formulario etiqueta form*/
.formulario form{
    padding: 0 30px; /*estable la area del relleno en los 4 lados*/   
    box-sizing: border-box; /*establece como se calcula el ancho y alto total de un elemento.*/

}

/*todo dentro de form que sea clase login_style*/
form .login_style{
    position: relative; /*posicion*/
    border-bottom: 2px solid #adadad; /*color de la linea*/
    margin: 50px 0; /*establece el margen*/
}

/*todo dentro de la clase login que sea input*/
.login_style input{
    width: 100%; /*tamaño ancho*/
    padding: 0 5px; /*estable la area del relleno en los 4 lados*/ 
    height: 40px; /*alto*/
    font-size: 16px; /*tamaño de letra*/
    border: none; /*ningun borde*/
    background: none; /*ningun color*/
    outline: none; /*no outline*/
}

/*dentro de la clase login label*/
.login_style label{
    position: absolute; /*posicion*/
    top: 50%; /*cuanto se va a desplazar */
    left: 5px; /*desplazara la caja a la derecha*/
    color: #000000; /*color*/
    transform: translateY(-180%); /*posicion*/
    font-size: 18px; /*tamaño de letra*/
    pointer-events: none; /*no*/
}

/*clase para olvide la contraseña*/
.con_olvidada{
    margin: -5px 0 20px 5px; /*margen*/
    color: blue; /*color*/
    cursor: pointer; /*esto es para que el cursor cambie cuando pase por el boton*/
}

/*clase para registrarse*/
.registrarse{
    margin: 30px 0;/*margen*/
    text-align: center;/*texto centrado*/
    font-size: 16px;/*tamaño de letra*/
}


/*modificacion de boton*/
input[type="submit"]{
    width: 100%;/*ancho*/
    height: 50px; /*altura*/
    border: 1px solid; /*bordes*/
    background: #0b70cf;/*color*/
    border-radius: 25px; /*bordes*/
    font-size: 18px; /*tamaño de letra*/
    color: white;  /*color de letra*/
    cursor: pointer; /*esto es para que el cursor cambie cuando pase por el boton*/
}

