* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  /*Esto es para modificar lo que queda la pagina que es el fondo, el tipo de lera , el tamaño del fondo */
  body{
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: sans-serif;
    background-color: #060724;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23040938'/%3E%3Cstop offset='1' stop-color='%23040938' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23163569'/%3E%3Cstop offset='1' stop-color='%23163569' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230f4283'/%3E%3Cstop offset='1' stop-color='%230f4283' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23060724'/%3E%3Cstop offset='1' stop-color='%23060724' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000D4F'/%3E%3Cstop offset='1' stop-color='%23000D4F' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232B85A9'/%3E%3Cstop offset='1' stop-color='%232B85A9' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  
  /*Esto centra y define el tamaño del titulo*/
  h1{
  text-align: center;
  font-size: 300%
  }
  
  /*Esto nos sirve para definir el tamaño el color del fondo de la letra*/
  .password {
    width: 400px;
    height: 100%;
    position: center;
    background: rgb(0, 0, 0);
    padding: 30px;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-top: 25px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  /*Se define en tamaño de la letra */
  .password h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  /*Diseño de las recuadros pra inserta la informacion el tamaño del recuadro, color de la letra tamaño de la letra */
  .controls {
    width: 100%;
    background: #000000;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
    border-bottom: 1px solid #fff;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    
  }

  /*Este dif es para lo de los botones se define color tamaño y en que posision debe estar */
div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background: #000000;
    flex-direction: column;
    gap: 30px;
}

/*Esto define el tamañoi posision, tamaño de los botones*/
a{
    position: relative;
    background: #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 5px 60px;
    transition: 0.5s;
}
 
/*Esto sirve para cuando pases el boton por encima se ilumine de la parte de atras */
a:hover{
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

a::before{
  content: "";
  position: absolute;
  inset: 2px;
  background: #000000;
}

/*Se define la posision */
a span{
 position: relative;
 z-index: 2;
}



  .contro {
    height: 40px;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
    color: darkgray;
  }